<!DOCTYPE html>
<html>
<head>
  <title>ChessExplainedLandingPage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
  <div class="notice">
    <i class="fa fa-bullhorn fa-2x horn"></i> <p class="notice-text"><%= notice %></p>
  </div>
<% else %>
  <div class="notice">
    Hey SvN readers! Here is a splash page I threw together for those that were interested. If you didn't read my post on Basecamp's Signal vs Noise post, how the hell did you get here?
  </div>
<% end %>
<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
